<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo App</title>
    <link rel="stylesheet" href="static/style.css">
  


</head>

<body>
    <div>
        <h1>To Do List</h1>
        {% if message %}
        {{message}}
        {% endif %}

        <form action="/add" method="POST">
            <div>
                <label for "add">Todo task</label>
                <input type="text" id = "Task" placeholder="New Task " required>
                <button type="submit"> New Task </button>
             </div>  
             <br>

        </form>
        <br>

        <hr>
        {% for todo in todo_list %}
        <p>{{todo.id}} : {{todo.task}} </p>
        {% if todo.complete==False %}
        <br>
        <p>Task Incomplete. <a href="/update/{{todo.id}}">Mark as complete?</a></p>
       <br>

        {% else %}
        <p>Task Complete</p>
        {% endif %}
        <br>
        <a href="/delete/{{todo.id}}"> Delete this task?</a>
        {% endfor %}
      
    </div>
    <br>
</body>
<br>
    <h3>Please leave a comment in the box</h3>

<div>   
    <label  for "comment" >Leave comment here </label>  
    <input type= "text" id="comment" placeholder="Comment ">
    <button type="submit">Leave Comment here</button>
    <img class=" image" src="/static/images/download.jpeg"> 
</div> 

<br>





<br>
<footer> Thank you all for visiting my website how you will enjoy it ! </footer>
<br>
</html>